{{#partial "content"}}
    <div class="track">
        <ul class="nav justify-content-end pt-4">
            <li class="nav-item">
                <a class="nav-link active" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">HISTORY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">MY ACCOUNT</a>
            </li>
        </ul>
        <h1 class="text-center">ENTER YOUR DETAILS AS PER THE INPUT</h1>
        <div class="tracker-form">
            <div class="card p-4">
                <h2 class="text-center">ENTER A NEW TENANCY</h2>
                <hr>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tenant">Tenant</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#landlord">Landlord</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane container active" id="tenant">
                        <h2 class="text-center">Tenant</h2>
                        <form action="/user/new" method="post">
                            <div class="form-group">
                                <label for="name">FULL NAMEs</label>
                                <input type="text" class="form-control"  name="name" id="name" aria-describedby="emailHelp" placeholder="Enter Your Full legal Names" required>
                            </div>
                            <div class="form-group">
                                <label for="animalId">NATIONAL IDENTIFICATION NUMBER</label>
                                <input type="number" class="form-control"  name="animalId" id="animalId" aria-describedby="emailHelp" placeholder="Enter your natinal ID no." required>
                            </div>
                            <div class="form-group">
                                <label for="location">LOCATION</label>
                                <input type="text" class="form-control" name="location" id="location" aria-describedby="emailHelp" placeholder="Enter location" required>
                            </div>
                            <div class="form-group">
                                <label for="ranger">APARTMENT NAME</label>
                                <input type="text" class="form-control" name="ranger" id="ranger" aria-describedby="emailHelp" placeholder="Enter  the name of the apartment you're renting" required>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">Terms and Conditions</div>
                                <div class="panel-body">

                                    <p>
                                        The Deposit Protection Service Custodial Terms and Conditions<br>
                                        In order to use our Custodial scheme, you will need to read and <br>
                                        accept these terms and conditions (the “Terms and Conditions”).
                                    </p>
                                    <input type="checkbox" id="terms" name="terms" value="terms">
                                    <label for="terms"> I agree to the terms and conditions</label><br>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="button button1">SUBMIT</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="button button2">CANCEL</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane container fade" id="landlord">
                        <h2 class="text-center">Landlord</h2>
                        <form action="/user/new" method="post">
                            <div class="form-group">
                                <label for="name">FULL NAMES</label>
                                <input type="text" class="form-control"  name="name" id="name" aria-describedby="emailHelp" placeholder="Enter full legal names" required>
                            </div>
                            <div class="form-group">
                                <label for="animalId">NATIONAL IDENTIFICATION NUMBER</label>
                                <input type="number" class="form-control" name="animalId" id="animalId" aria-describedby="emailHelp" placeholder="Enter your national ID no." required>
                            </div>
                            <div class="form-group">
                                <label for="location">LOCATION</label>
                                <input type="text" class="form-control" name="location" id="location" aria-describedby="emailHelp" placeholder="Enter the loaction of your apartment" required>
                            </div>
                            <div class="form-group">
                                <label for="ranger">APARTMENT'S NAME</label>
                                <input type="text" class="form-control" name="ranger" id="ranger" aria-describedby="emailHelp" placeholder="Enter the name of your apartment" required>
                            </div>
                            <div class="form-group">
                                <label for="health">HOUSE TYPE</label>
                                <select class="form-control" id="health" name="health" required>
                                    <option>single room</option>
                                    <option>bedsitter</option>
                                    <option>one bedroom</option>
                                    <option>two bedroom</option>
                                    <option>bungalow</option>
                                </select>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">Terms and Conditions</div>
                                <div class="panel-body">

                                    <p>
                                        The Deposit Protection Service Custodial Terms and Conditions<br>
                                        In order to use our Custodial scheme, you will need to read and <br>
                                        accept these terms and conditions (the “Terms and Conditions”).
                                    </p>
                                    <input type="checkbox" id="terms" name="terms" value="terms">
                                    <label for="terms"> I agree to the terms and conditions</label><br>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <button class="button button1">SUBMIT</button>
                                </div>
                                <div class="col-md-6">
                                    <button class="button button2">CANCEL</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/partial}}
{{>layout.hbs}}