{{#partial "content"}}

    <div class="container" id="form">
        <form>
            <div class="panel panel-info">
                <div class="panel-heading">Your Personal Details</div>
                <div class="panel-body">
                    <label for="fname">First name:</label><br>
                    <input type="text" id="fname" name="fname"><br>
                    <label for="lname">Last name:</label><br>
                    <input type="text" id="lname" name="lname">
                    <label for="cars">Account Type:</label>
                    <select id="account" name="account">
                        <option value="account">Agent</option>
                        <option value="account">Landlord</option>
                        <option value="account">Organisation</option>
                    </select>


                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Your Billing Address</div>
                <div class="panel-body">
                    <label for="address">Address:</label><br>
                    <input type="text" id="address" name="address"><br>
                    <label for="town">Town *</label><br>
                    <input type="text" id="town" name="town">
                    <label for="county">County *</label><br>
                    <input type="text" id="county" name="county">



                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">Contact Details</div>
                <div class="panel-body">
                    <label for="mobile">Mobile no.*</label><br>
                    <input type="number" id="mobile" name="mobile">
                    <label for="email">Email </label><br>
                    <input type="text" id="email" name="email">


                </div>
            </div>

        </form>

    </div>

{{/partial}}
{{>layout.hbs}}
