<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="gallery.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body><header>
        <nav class="nav">
                <a class="web-title" href="index.html">Simplified</a>
                <ul class="nav-list">
                    <li class="nav-list-items" ><a class="nav-list-itemsc" href="library.html">Library</a></li>
                    <li class="nav-list-items"><a class="nav-list-itemsc" href="gallery.html">Forum</a></li>
                   <li class="nav-list-items" > <a class="nav-list-itemsc" href="gallery.html">Gallery</a></li>
                </ul>
            <a class="nav-btn-login" href="accounts.html" title="create or login to an account">Signup</a>
            </nav>
        </header>
        <div class="body">
            <div class="body-top-img"><img class="top-img-img" src="images/Even Topland_mossyforest_DM5S.jpg"></div>
            <div class="img-rows-container"> 
            <div class="body-image-rows">
                <div id="gallery-images">
                    <img src="images/image002.jpg">
                    <p class="image-title">creators name</p>
                    <p class="image-text">image title</p>
                </div>
                <div id="gallery-images">
                        <img src="images/image003.jpg">
                    <p class="image-title">creators name</p>
                        <p class="image-text">image title</p>
                </div>
                <div id="gallery-images">
                        <img src="images/image004.jpg" alt="">
                    <p class="image-title">creators name</p>
                        <p class="image-text"> image title</p>
                </div>
                <div id="gallery-images">
                        <img src="images/image006.jpg">
                    <p class="image-title">creators name</p>
                        <p class="image-text">image title</p>
                </div>
              

            </div>

            <div class="body-image-rows">
                    <div id="gallery-images">
                        <img src="images/image002.jpg">
                        <p class="image-title">creators name</p>
                        <p class="image-text">image title</p>
                    </div>
                    <div id="gallery-images">
                            <img src="images/image003.jpg">
                        <p class="image-title">creators name</p>
                            <p class="image-text">image title</p>
                    </div>
                    <div id="gallery-images">
                            <img src="images/image004.jpg" alt="">
                        <p class="image-title">creators name</p>
                            <p class="image-text"> image title</p>
                    </div>
                    <div id="gallery-images">
                            <img src="images/image006.jpg">
                        <p class="image-title">creators name</p>
                            <p class="image-text">image title</p>
                    </div>
                  
    
                </div>
            </div>
        </div>




</body>
</html>