<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">

    <title>UnNotify</title>
</head>
<body>
<header>
    <nav class="nav">
        <a class="web-title" href="index.html"><img href="images/wallpaper4.png" class="web-img-title"></div> SafeTransit</a>
        <ul class="nav-list">
            <li class="nav-list-items" ><a class="nav-list-itemsc" href="library.html">Library</a></li>
            <li class="nav-list-items"><a class="nav-list-itemsc" href="gallery.html">Forum</a></li>
            <li class="nav-list-items" > <a class="nav-list-itemsc" href="gallery.html">Gallery</a></li>
        </ul>
        <a class="nav-btn-login" href="accounts.html" title="create or login to an account"> Signup</a>
    </nav>
    <div class="top-image">
        <div></div>
        <div class="title">
            <h1 class="page-title">The diference here is you </h1>
            <p class="top-desc">This site is upheld and maintained for the
            sole purpose of ensuring that out customers are served and protected by us.
            feel free to call us anytime if you have any questions</p>
            <div class="support-btns">
                <button class="title-btn-support">Pattreon</button>
                <button class="title-btn-support">Pay Pal</button>
                <button class="title-btn-support">Vissa </button>
            </div>
        </div>
        <div></div>

    </div>
</header>

<div class="body">

    <div class="center">
        <img class="promo-img" src="css/images/escrow.png">
        <div class="promo-text">
            <p class="promo-title">The topics here</p>
            <p class="promo-desc">
                Our service is to create peace of mind by giving our customers a chance to control how their money is
                spent and paid off.Giving you full control over your money, so you never lose a dime again.
            </p>
            <button class="promo-btn1">more</button>
            <button class="promo-btn">later</button>
        </div>
    </div>

    <div class="body-item-left">
        <button class="displaysec"> <p class="letter red">L </p></button>
        <div class="info-left">
            <p class="info-title">Landlords Sign-up</p>
            <p class="info-dewsc">Get your property signed up here and watch your popularity soar</p>
            <a href="" class="promo-btn">more</a>
        </div>
    </div>

    <div class="body-item-right">
        <div class="info-right">
            <p class="info-title">Tenants Signup </p>
            <p class="info-dewsc">Tenants use this form to signup under your landlord respectively</p>
            <a href="" class="promo-btn">more</a>
        </div>
        <button class="displaysec"><p class="letter green"> T </p></button>
    </div>


    <div class="body-item-left">
        <button class="displaysec"><p class="letter blue"> G </p></button>
        <div class="info-left">
            <p class="info-title">Gallery </p>
            <p class="info-dewsc">See a multitude of our satisfied clients and their stories</p>
            <a href="" class="promo-btn">more</a>
        </div>
    </div>


    <div class="body-item-right">
        <div class="info-right">
            <p class="info-title">Forum and Support</p>
            <p class="info-dewsc">Join the community , ask questions and offer your knowledge to those in need </p>
            <a href="" class="promo-btn">more</a>
        </div>
        <button class="displaysec"><p class="letter orange"> F </p></button>
    </div>

    <div class="body-item-left">
        <button class="displaysec"><p class="letter teal"> A </p></button>
        <div class="info-left">
            <p class="info-title">About Us </p>
            <p class="info-dewsc">whats new in safe trans, who came up with it ,who's working behind the scene</p>
            <a href="" class="promo-btn">more</a>
        </div>
    </div>

</div>

<footer >
    <div class="footer-container">
        <div class="footer-child-1">
            Developed by :
            <br>
            Group 10
            <br>
        </div>
        <div class="footer-child-2"><h3>Safe Transit</h3><br>
            <p class="footernames">
                Site maintainance and services upheld and provided by group 10
                contact us at:<br>
                lloyd Mwiti , Faith Njoki<br>
                Arnold lifereze , Bruno kipkorir

                <br>
                <a class="becomeone"href="#">become a client</a>
            </p>
        </div>
        <div class="footer-child-3">Founded by:<br>
            Safe Transit.llc</div>
    </div>
</footer>
</body>
</html>