
<!DOCTYPE html>
<html>
<head style="content-align:center;">
    <title style="content-align:center;"></title>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="css/style.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="css/style.js"></script>

</head>
<body style="content-align:center;">
<header>
    <div class="container" style="content-align:center;">
        <div class = "brand-name">
            <a href="" class="logo">SAFE-TRANS</a>
        </div>
        <div class="navbar">
            <ul>
                <li class="navbar-left"><a href="">HOME</a></li>
                <li class="navbar-left"><a href="">ABOUT</a></li>
                <li class="navbar-left"><a href="">TENANT</a></li>
                <li class="navbar-left"><a href="">LANDLORD</a></li>
                <li class="navbar-right"><a href="">CREAT YOUR ACCOUNT</a></li>
                <li class="navbar-right"><a href="">LOGIN</a></li>
            </ul>
        </div>
    </div>
</header>
{{#block "content"}}
{{/block}}
<!--end main template-->
{{#block "footer"}}
    </body>
    </html>
{{/block}}
