{{#partial "content"}}
    <h1>What Happens To My Tenancy Deposit</h1>
    <h2>You can rely on us to protect your deposit</h2>

    <button class="button button1">Check if your deposit is protected with us</button>

    <div class="container">
        <div class="description">
            <h3>As the first ever provider of deposit protection in Kenya, we are dedicated to helping<br>
                to helping landlords and tenants, so you can rely on us for all your deposit protection needs.</h3>
            <div class="container">
                <h1> What Would You Like to Know More About?</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h2>I'm about to start a new tenancy</h2>
                        <p> Making sure you get your deposit back <br>
                            starts at the beginning of your tenancy. <br>
                            Find out what you need to know.</p>

                    </div>
                    <div class="col-md-6">
                        <h2>I'm reaching the end of a tenancy</h2>
                        <p>Check-outs, repayments and deductions.<br>
                            Everything you need to know about the <br>
                            deposit repayment process.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h2>Disputes</h2>
                        <p>
                            I want to know more about disputes<br>
                            From our free Dispute Resolution Service,<br>
                            to expert advice - we're here to help.</p>
                    </div>
                    <div class="col-md-6">
                        <h2>I'd like some renting guidance</h2>
                        <p>Help, guidance, and some useful resources <br>
                            to help you throughout your tenancy.</p>
                    </div>
                    <h4>Not Registered yet?</h4>
                    <button class="button button1">Join Us</button>
                </div>

            </div>
        </div>

    </div>
{{/partial}}
{{>layout.hbs}}