{{#partial "content"}}

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style.js">


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="bd-placeholder-img" width="100%" height="100%" src="https://source.unsplash.com/1600x300/?nairobi-city-urban-housing" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"></rect></svg>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <br>
                        <br>
                        <br>
                        <h1 id="welcome">What Happens To My Tenancy Deposit</h1>
                        <p>You can rely on us to protect your deposit</p>
                        <p><a class="btn btn-lg btn-warning" href="#" role="button">Check if your deposit is protected with us</a></p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container" id="about-us">
            <h2>What is Deposit Protection</h2>
            <p>We provide two types of deposit protection – Custodial, a free service where we hold the deposit for the duration of the tenancy, and Insured,
                where the landlord or letting agent holds the deposit and pays us a fee to protect it.

                Most of our customers use our free Custodial service. In this scheme, your landlord or letting agent gives us your deposit to look after for
                the duration of your tenancy. At the end of your tenancy, we’ll release your deposit once both of you have agreed on the amounts being returned..</p>
        </div>
        <div class="container">
            <h2>My landlord or letting agent has protected my deposit with you. What happens next? </h2>
            <p>    When your landlord or letting agent protects your deposit, we'll create an individual account for you and any other tenants in the tenancy.
                You’ll be able to use your account to review your deposit and
                tenancy details, and quickly reclaim it at the end of the tenancy. It's important to make sure you've provided your landlord with your correct
                email address and mobile number so we can contact you.</p>


        </div>
        <div class="container">
            <h2>Check your Tenancy Agreement</h2>
            <p>    Your tenancy agreement will form the basis of your landlord or letting agent’s expectations about your obligations whilst renting the
                property. Reviewing these will give you an indication of what you need to do to keep them happy. If you can’t find your tenancy agreement
                or inventory, ask your landlord or letting agent for a copy.</p>

        </div>



        <div class="container marketing my-4">

            <div class="row">
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://source.unsplash.com/140x140/?apartment-rent" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
                    <h2>I'd like some renting guidance</h2>
                    <p>Help, guidance, and some useful resources <br>
                        to help you throughout your tenancy.</p>

                    </p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://source.unsplash.com/140x140/?kenyan-city" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
                    <h2>I'm about to start a new tenancy</h2>
                    <p> Making sure you get your deposit back <br>
                        starts at the beginning of your tenancy. <br>
                        Find out what you need to know.</p>
                    <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://source.unsplash.com/140x140/?nairobi-city-urban-housing" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
                    <h2>I'm reaching the end of a tenancy</h2>
                    <p>Check-outs, repayments and deductions.<br>
                        Everything you need to know about the <br>
                        deposit repayment process.</p>
                    <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="https://source.unsplash.com/140x140/?nairobi-city-urban-housing" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em"></text></svg>
                    <h2>Disputes</h2>
                    <p>
                        I want to know more about disputes<br>
                        From our free Dispute Resolution Service,<br>
                        to expert advice - we're here to help.</p>
                    <p><a class="btn btn-warning" href="#" role="button">View details »</a></p>
                </div>
                <h4>Not Registered yet?</h4>
                <button class="button button1">Join Us</button>
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">



            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>© 2020 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
            </footer>
        </div>

{{/partial}}
{{>layout.hbs}}
